/*Variables globales*/
:root{
    --MarronFav: rgb(134, 4, 4);
}

body{
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Contenido{
    background-color: rgb(129, 124, 56);
    background: linear-gradient(to right, rgb(129,124,56), rgb(129, 124, 100));
    padding: 25px;
    max-width: 800px;
    width: 92%;
    min-width: 550px;
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    
}

/*Barra de navegacion*/
nav {
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 18px;
    background-color: var(--MarronFav);
    text-align: center;
    max-width:850px;
    width: 95%;
    min-width: 550px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    height: 30px;
    border-radius: 20px;
    padding-top: 4px;
    padding-bottom: 4px;

}

nav a{
    color: aliceblue;
    font-style: normal;
    text-decoration: none;
}

a{
    color: aliceblue;
}

a:hover{
    color: rgb(63, 46, 22);
}
nav a:hover{
    color: rgb(63, 46, 22);
    background-color: rgb(248, 175, 115);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border: 2px;
    border-color: black;
}

/*BOTONES*/
.Boton{
    padding: 5px;
    font-size: 18;
    border: 0;
    border-radius: 10px;
    font-weight: 900;
}

.Enviar{
    background-color: rgb(4, 119, 29);
    color: aliceblue;
}

.Borrar{
    background-color: red;
    color: aliceblue;  
}

.tarjeta{
    background-color: brown;
    
    width: 200px;
    height: 210px;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
}
.tarjeta h2{
    color: burlywood;
    font-size: 22px;
    margin-top: 4px;
}

.imagen{
    float:none;
    border-radius: 10px;
    border: solid 5px black;
    border-image: round;
}
.imagen:hover {filter: saturate(180%);}

.TarjetaFoto{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    border-radius: 25px;
    background-color: var(--MarronFav);
    padding: 20px;
    /*Para que se mantenga el tamaño*/
    box-sizing: border-box;
    box-shadow: 10px 10px 5px black;
}
/*formulario*/

#formulario{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

form input,textarea {
    border: 0;
    outline: 0;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 10px;
    
}

.Titulo{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Grechen Fuemen', cursive;
}

footer{
    background-color: brown;
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    font-weight: 800;
    font-size: 12px;
    box-sizing: border-box;
}


.TextoSansPro{
    font-size: 18px;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(31, 32, 31);;
}

.Col2{
    width: 100%;
    column-count: 2;
    column-gap: 25px;
    margin-top: 0;
    color: rgb(31, 32, 31);
    column-rule: 1px solid black;
}

/*Con esto quito el margen superior de la P que me molesta */
.TextoSansPro p{
    margin: 0;
}

.Iconos{
    color: rgb(58, 16, 16);
}